<html>
    <html lang="en">
<head>
    <title>Energy Dashboard - UK Electricity and Heat Energy Facts</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" type="text/css"></link>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <link rel="stylesheet" href="/css/popup.min.css" type="text/css">
    <link rel="stylesheet" href="/css/transition.min.css" type="text/css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"></script>
    <script src="/js/countUp.js" type="text/javascript"></script>
    <script src="/js/popup.min.js" type="text/javascript"></script>
    <script src="/js/transition.min.js" type="text/javascript"></script>
    <script src="/js/dropdown.min.js" type="text/javascript"></script>
</head>

<body>
  
        
        <!--navbar-->
<div class="ui top large blue inverted fixed menu">
  <div class="ui dropdown icon item">
    <i class="bars icon"></i>
    <div class="menu">
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Dashboards</span>
        <div class="menu">
          <a class="item" href="/">Live Electricity</a>
          <a class="item" href="/fourtyeight">Last 48 Hours</a>
        </div>
        </div>
        <a class="item" href="/about">
          About
        </a>
        <a class="item" href="/contact">
          Contact
        </a>
        <a class="item" href="/data">
          Data Sources
        </a>
        <div class="divider"></div>
        <a class="item" href="https://www.bmreports.com/bmrs/?q=help/about-us" target="_blank">
          BM Reports
        </a>
        <a class="item" href="https://www.solar.sheffield.ac.uk/pvlive/" target="_blank">
          Sheffield Solar
        </a>
        <a class="item" href="https://www.nationalgrid.com/uk/electricity/market-operations-and-data/data-explorer" target="_blank">
          National Grid
        </a>
        <a class="item" href="http://www.renewableuk.com/page/UKWEDhome" target="_blank">
          Renewable UK
        </a>
      </div>
    </div>
  <div>
    <a class="header item" href="/">ENERGY DASHBOARD</a>
  </div>
  <a class="item" href="/live">
    Live
  </a>
  <a class="item" href="/fourtyeight">
    48hr
  </a>
  <div class="right menu mobile hidden">
    <a class="ui item mobile hidden" href="/about">
      About
    </a>
    <a class="ui item computer-only" href="/data">
      Data Sources
    </a>
  </div>
</div>

<script>
// dropdown menu activation
$('.ui.dropdown').dropdown();
</script>

      
  




