<% include partials/header %>

<div class="ui center aligned padded grid">
   <div class="one column row">
        <div class="sixteen wide tablet twelve wide computer column contact-box">
           <div class="ui raised segments">
               <div class="ui secondary segment">
                   <h2 class="ui header"> Get in Contact!</h2>
               </div>
               <div class="ui segment">
                   <form class="ui form fluid" action="send" method="POST">
                       <div class="two fields">
                           <div class="field">
                             <label>Name</label>
                             <input type="text" name="name" placeholder="Name" >
                           </div>
                           <div class="field">
                             <label>Email</label>
                             <input type="email" name="email" placeholder="joe@schmoe.com">
                           </div>
                       </div>
                       <div class="field">
                            <label>Message</label>
                            <textarea name="message" rows="5" placeholder="Your message .."></textarea>
                       </div>
                       <input class="ui button submit" type="submit" value="Submit"></input>
                    </form>
                    <h3 id="contact-success"><%=msg%></h3>
               </div>
           </div>
       </div>
   </div>
</div>


<% include partials/footer %>
