<% include partials/header %>

<div class="ui center aligned padded grid">
    <div class="one column row">
         <div class="sixteen wide tablet twelve wide computer column">
            <div class="ui raised segments">
                <div class="ui tertiary inverted segment">
                    <h2 class="ui header"> Get in Contact!</h2>
                </div>
                <div class="ui segment">
                    <div class="ui form fluid">
                        <div class="three fields">
                            <div class="field">
                              <label>First name</label>
                              <input type="text" placeholder="First Name">
                            </div>
                            <div class="field">
                              <label>Last name</label>
                              <input type="text" placeholder="Last Name">
                            </div>
                            <div class="field">
                              <label>E-mail</label>
                              <input type="email" placeholder="joe@schmoe.com">
                            </div>
                        </div>
                        <div class="field">
                            <div class="field">
                                <label>Message</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>