<% include partials/header %>

<h2 class="ui block header">
  <i class="archive icon"></i>
  <div class="content">
   Data Sources & Methodology
  </div>
</h2>


<div class="ui equal width center aligned padded stackable grid">
    <div class="row">
        <div class="sixteen wide computer column">
            <div class="ui raised segments">
                <div class="ui  segment">
                        <div class= "ui grid">
                            <div class="ui stretched row">
                                <div class="sixteen wide mobile twelve wide tablet twelve wide computer column">
                                    <div class="ui basic segment">
                                        <h3 class="ui header left aligned">
                                          GB Electricity Generation / Supply
                                        </h3>
                                        <p>The generation contribution of each technology is taken from the Balancing Mechanism Reporting Service (<a href="https://www.bmreports.com/bmrs/?q=help/about-us">BMRS</a>). 
                                            This is produced by Elexon who run the wholesale electricity market and provide data publicly through a web service or API. Data is published every 5 minutes but this can sometimes be delayed or parts of the 
                                            received data is missing. No attempt has been made to correct for any missing data or delayed data, so occasionally gaps will appear in the displayed information. </p>
                                            <p>Generation (power flow) is measured in gigawatts (where 1 GW = 1,000 Megawatts). Energy volume is normally measured in megawatt hours (MWh) but for consistency cumulative generation is displayed here at the same scale unit, gigawatt hours (GWh).</p>
                                            <p>– <strong class="col-gas">Gas </strong>consists of combined cycle gas turbines (CCGTs) as provided by Elexon. CCGTs combine a gas-fired turbine with a steam turbine, capturing waste heat to make the technology highly efficient. These power stations can be brought off or online within minutes and are used extensively to balance intermittent renewable technologies (mainly solar and wind).</p>
                                            <p>– <strong class="col-coal">Coal </strong>as provided by Elexon. Coal is becoming less important in the energy mix and the generation output is often at zero for several days in a row, having been displaced by renewable technologies on windy and/or sunnay days. New rules will force all coal power stations to close by 2025 as part of carbon emission reduction targets.</p>
                                            <p>– <strong class="col-nuclear">Nuclear </strong>as provided by Elexon. Due to the complexity and cost of operating these power stations, generation output is normally consistent day on day (currently around 7GW).</p>
                                            <p>– <strong class="col-wind">Wind </strong>uses Elexon's figures for metered wind farms which include all the offshore stations and the larger onshore wind farms (mainly in Scotland) - approximately 13GW total installed capacity (of which around 7GW is offshore generation). These figures have been adjusted up to account for the non-metered <a href="/embedded">(embedded)</a> onshore wind turbines (mainly in England and Wales), with an allowance for a reduced load factor. National Grid currently estimates this embedded capacity to be around 6GW and it shows as a drop in demand, alongside embedded solar generation.</p>
                                            <p>– <strong class="col-biomass">Biomass </strong>as provided by Elexon using the categories 'Biomass' and 'Other' which includes coal-to-biomass conversions and biomass combined heat and power (CHP) plants. </p>
                                            <p>– <strong class="col-imports">Imports </strong>uses Elexon's import figures for the four interconnectors which exist between the British mainland and other regions and countries. They include connections to Northern Ireland, France, Holland and the Republic of Ireland. The total capacity of these interconnectors is 4GW and they can both import and export depending on supply and demand.</p>
                                            <p>– <strong class="col-hydro">Hydro </strong>combines Elexon's figures for both pumped storage and renewable hydro (run-of-river) schemes, although these are split out for the 'Generation by Energy Type' bar chart. Pumped storage systems use electricity (during low demand/cost periods) to pump water up into a higher reservoir. This is released during periods of high demand and price, driving turbines to produce power.</p>
                                            <p>– <strong class="col-solar">Solar </strong>uses live / historical data from Sheffield University's PV Live service, updated every 30 minutes. The University are working in partnership with National Grid to model live PV generation across Great Britain, using representative sites which transmit live generation data. All PV generation is embedded, i.e. connected at the distribution level and not metered by National Grid. It therefore shows as a drop in demand during daylight hours which can clearly be seen on the 'Demand vs Generation' line chart. Installed solar PV capacity is currently around 13GW.</p>
                                            <p>Elexon also provides data for open cycle gas turbines (OCGTs) and oil generation but these have not been included as they rarely contribute more than 0.1% of the overall energy mix.</p>
                                            <div class="ui divider"></div>
                                        <h3 class="ui header left aligned">
                                          GB Electricity Demand
                                        </h3>
                                        <p>Demand (net) uses Elexon's figures for the the half-hour average demand metered by the Transmission Company, taking into account transmission losses but not including station transformer load, pumped storage demand or Interconnector demand (export). This is refered to as the Initial National Demand Out-Turn (INDO)</p>
                                        <p>Demand (gross) is the Initial Transmission System Demand Outturn (ITSDO) as provided by Elexon. This includes transmission losses, station transformer load, pumped storage demand and interconnector demand (export).</p>
                                        <p>The generation figures (including embedded energy) on the demand vs generation line chart represents the 'true demand' and includes estimated figures for embedded solar and wind energy. As this embedded generation is effectively invisible to National Grid, it shows as a drop in demand and the solar PV contribution is clearly visible during daylight hours</p>

                                    </div>
                                </div>
                                <div class="sixteen wide mobile four wide tablet four wide computer column">
                                    <div class="ui secondary segment mini-box">
                                        <h3 class="ui header left aligned">
                                          DATA SOURCES
                                        </h3>
                                        <div class="ui link list left aligned">
                                            <p><a target="_blank" href="https://www.solar.sheffield.ac.uk/pvlive/">Sheffield University <i class="chevron right icon"></i></a></p>
                                            <p><a target="_blank" href="https://www.bmreports.com/bmrs/?q=help/about-us">BM Reports <i class="chevron right icon"></i></a></p>
                                            <p><a target="_blank" href="https://www.nationalgrid.com/uk/electricity/market-operations-and-data/data-explorer">National Grid <i class="chevron right icon"></i></a></p>
                                            <p><a target="_blank" href="http://www.renewableuk.com/page/UKWEDhome">Renewable UK <i class="chevron right icon"></i></a></p>
                                        </div>
                                    </div>
                                    <div class="ui secondary segment mini-box">
                                        <h3 class="ui header left aligned">
                                          OTHER INFORMATION
                                        </h3>
                                        <div class="ui link list left aligned">
                                            <p><a href="/embedded">What is Embedded Generation? <i class="chevron right icon"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

<% include partials/footer %>